

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
  </head>

    <style>
         body
    {
        font-family: Calibri, Helvetica, sans-serif;
    
    }
   
.text{
    text-align: center;
    color: black;
      background-color: gray;
    
}

.heading{
    text-align: center;
    color: black;
      background-color:cyan;
      font-size: 18px;
      font-family:Georgia, 'Times New Roman', Times, serif;
}


    </style>

    <body>
         <h1 id="text"><b>WELCOME TO THE COMPUTER SCIENCE DEPARTMENT ACTIVITY REGISTRATION</b></h1>
       
      <form method="post" action="/addinfo">
        <label><h4>Enter Your Name *</h4></label>
        <input type="text" name="firstName" placeholder="Enter first name..." required>
        <label><h4>Enter USN *</h4></label>
        <input type="text" name="USN" placeholder="Enter your USN..." required>
        <label><h4>Select your current Semester *</h4></label>
        <!-- <label for="cars">Choose a car:</label> -->
        <select name="sem" id="sem" required>
        <option value=" ">Select the semester</option>
        <option value="3" >3</option>
        <option value="4" >4</option>
        <option value="5" >5</option>
        <option value="6" >6</option>
        <option value="7" >7</option>
        <option value="8" >8</option>
        </select>

        <!-- <div><input type='radio' name='sem' value='3' required><label for='3'>3</label> </div>
        <div><input type='radio' name='sem' value='4' required><label for='4'>4</label> </div>
        <div><input type='radio' name='sem' value='5' required><label for='5'>5</label> </div>
        <div><input type='radio' name='sem' value='6' required><label for='6'>6</label> </div>
        <div><input type='radio' name='sem' value='7' required><label for='7'>7</label> </div>
        <div><input type='radio' name='sem' value='8' required><label for='8'>8</label> </div> -->
        <label><h4>Select your Division *</h4></label>
        <div><input type='radio' name='div' value='A' required><label for='A'>A</label> </div>
        <div><input type='radio' name='div' value='B' required><label for='B'>B</label> </div>
        <div><input type='radio' name='div' value='C' required><label for='C'>C</label> </div>
        <div><input type='radio' name='div' value='D' required><label for='D'>D</label> </div>
        <div><input type='radio' name='div' value='E' required><label for='E'>E</label> </div><br>

        <label><h4>Select the Activity/Event you want to register for :*</h4></label>
        <div><input type='radio' name='event' value='TechTalk[Engineers Day]' required><label for='TechTalk[Engineers Day]'>TechTalk [Engineers Day]</label> </div>
        <div><input type='radio' name='event' value='Neophytes3.0' required><label for='Neophytes3.0'>Neophytes3.0</label> </div>
        <div><input type='radio' name='event' value='DSA_Workshop' required><label for='DSA_Workshop'>DSA Workshop</label> </div>
        <div><input type='radio' name='event' value='Placement_Talk' required><label for='Placement_Talk'>Placement Talk</label> </div>
        <div><input type='radio' name='event' value='Convocation_Talk' required><label for='Convocation_Talk'>Convocation Talk</label> </div>
        <div><input type='radio' name='event' value='Engineers_101' required><label for='Engineers_101'>Engineers 101</label> </div><br>

        <input type="submit" value="SUBMIT">
    </form>
        
    </body>
</html>
